.tstbtn:hover {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    /* text-shadow: 0 0 5px #ffffff,
            0 0 10px #ffffff,
            0 0 20px #ffffff; */
    box-shadow: 0 0 5px #008cff,
        0 0 20px #008cff,
        0 0 50px #008cff,
        0 0 100px #008cff;
}